@import "bootstrap";

body {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  font: 400 1rem "Roboto", sans-serif;

  background: #8c52e5;
  background-image: url("../../../assets/home1-happy.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  background-position: center bottom 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-container {
  position: absolute;

  top: 52px;
  left: 63px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-container p {
  width: 281px;
  margin-left: 30px;

  font-size: 1.8125rem;
  color: rgba(255, 255, 255, 1);
}

.btn-acessar {
  width: 261px;
  height: 42px;

  margin-top: 25px;

  border-radius: 20px;
  border: none;

  background-color: #fff;
  color: #8c52e5;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 20px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px 0 20px;
  transition: filter 0.2s;
}

.btn-acessar:hover {
  filter: brightness(0.9);
}

.register-container {
  width: 349px;
  height: 461.23px;
  padding: 30px;

  background: #fff;
  border-radius: 8px;

  line-height: 14, 06px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container p {
  color: rgba(29, 29, 29, 1);
  font-size: 1.1875rem;
  font-weight: 500;

  padding-bottom: 20px;
}

.input-cadastro {
  background-color: transparent;
  border-width: 0px 0px 1px;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: left;
  outline: none;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: #878686;
  white-space: nowrap;
  overflow: hidden;

  font-size: 0.75rem;
  padding-bottom: 6px;
}

.btn-continuar {
  width: 261px;
  height: 42px;

  border-radius: 20px;
  border: none;
  
  background-color: #68de5a;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 20px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px 0 20px;
  transition: filter 0.2s;
}

.btn-continuar:hover {
  filter: brightness(0.9);
}

@media (max-width: 1080px) {

}

@media (max-width: 720px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
