body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font: 400 1rem "Roboto", sans-serif;

  background: #8c52e5;

  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: none;
}

.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #63DC3F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-logo {
  margin-bottom: 20px;
}

.sidenav-menu {
  width: 70%;
  height: 70px;
  margin-top: 20px;
  border-radius: 5px;
  background-color:#8C52E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.sidenav-menu:hover {
  background-color: #9e5eff;
}

.sidenav-menu a {
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
}

.sidenav-logout {
  position: absolute;
  bottom: 50px;
  width: 70%;
  height: 70px;
  background-color:#8C52E5;
  border-radius: 5px;
}

.sidenav-logout:hover {
  background-color: #9e5eff;
}

.sidenav-logout button {
  width: 100%;
  height: 100%;
  background-color:transparent;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  border-style: none;
}


.welcome-text {
  display: flex;
  padding: 0 20px 0 20px;
  color: #fff;
  font-size: 25px;
}
.eye:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 500ms ease-in;
}

.main {
  margin: 0 0 0 150px;
  box-sizing: border-box;
}

.conta-card {
  width: 407.8px;
  height: 255.05px;
  box-sizing: border-box;
  overflow: hidden;

  background: #fbfbfb;
}
.transacoes-card {
  box-sizing: border-box;
  overflow: hidden;
  width: 90%;
  margin-left: 20px;
}

.card-body img {
  padding: 0 15px 0 0;
}

.card-body p {
  color: #9b9b9b;
}

.conta-saldo {
  font-size: 30px;
  font-weight: 600;
  color: #010101;
}

.credito-saldo {
  font-size: 30px;
  font-weight: 600;
  color: #1783e7;
}

.transacoes {
  font-size: 30px;
  font-weight: 600;
  color: #68de5a;
}

.btn-logout {
  color:#fbfbfb  ;
  background-color: #8c52e5;
  font-weight: 300;
}

.btn-logout:hover {
  cursor: pointer;
  background-color: #9e5eff;
  transition: 275ms ease-in-out;
}

.lancamento {
  color: #010101;
}

.lancamento p {
  font-size: 18px;
  margin:0;
  margin-bottom: 7.5px;
}

.lancamento h5 {
  font-size: 20px;
  font-weight: 500;
}

.lancamento h6 {
  font-size: 16px;
  font-weight: bold;
}


@media (max-width: 1100px) {
  .card-group {
    flex-direction: column;
  }

  .welcome-text {
    flex-direction: block;
  }
}

@media screen and (max-width: 600px) {

  .main {
    margin-left: 40px;
  }

  .sidenav {
    width: 40px;
  }

  .sidenav img {
    display: none;
  }

  .sidenav-menu {
    transform: rotate(270deg);
    height: 30px;
    width: 90px;
    margin-top: 70px;
  }

  .sidenav-logout {
    transform: rotate(270deg);
    height: 30px;
    width: 90px;
  }


}