<body>
    <div class="sidenav">
    
        <div class="sidenav-logo">
            <img src="../../assets/dash-logo-gama-academy-square.png" alt="Logo Gama Academy" title="Logo Gama Academy">
        </div>
        
        <div class="sidenav-menu" alt="Depósitos" title="Depósitos">
            <img src="../../assets/Pix.png">
            <a>Depósitos</a>
        </div>
        <div class="sidenav-menu" alt="Planos" title="Planos">
            <img src="../../assets/Pix.png">
            <a>Planos</a>
        </div>
        <div class="sidenav-menu" alt="Pagamentos" title="Pagamentos">
            <img src="../../assets/Pix.png">
            <a>Pagamentos</a>
        </div>
        <div class="sidenav-menu" alt="Transações" title="Transações">
            <img src="../../assets/Pix.png">
            <a>Transações</a>
        </div>
        <div class="sidenav-logout">
            <button (click)="onLogout()">Desconectar</button>
        </div>
    </div>

    <div id="main" class="main">
        <div class="welcome-text">
            <p class="col"> Olá {{ session.usuario.nome }}, seja bem vindo(a)!
                <a class="float-right" (click)="onShowValues()">
                    <img class="eye"  src="../../assets/eye-top.png" alt="ocultar extrato" title="ocultar extrato">
                </a>
            </p>
        </div>
        
        <div class="card-group">
            <div class="card conta-card m-4 rounded-lg">
                <div class="card-body">
                    <p><img src="../../assets/dollar.png" alt="Saldo conta" title="Saldo conta"> Conta </p>
                    <p> Saldo disponível </p>
                    <h1 *ngIf="showValues" class="conta-saldo"> {{ dashboard.contaBanco.saldo | currency:'BRL' }} </h1>
                    <h1 *ngIf="!showValues" class="conta-saldo"> R$ - </h1>
                    <div class="row pt-4 justify-content-around">
                        <p class="pt-2"> Transações </p>
                        <h1 *ngIf="showValues" class="transacoes"> {{ countBankValue(dashboard.contaBanco) | currency:'BRL' }} </h1>
                        <h1 *ngIf="!showValues" class="transacoes"> R$ - </h1>
                    </div>
                </div>
            </div>
            
            <div class="card conta-card m-4 rounded-lg">
                <div class="card-body">
                    <p><img src="../../assets/credit-card.png" alt="Saldo crédito" title="Saldo crédito"> Conta Crédito </p>
                    <p> Saldo disponível </p>
                    <h1 *ngIf="showValues" class="credito-saldo"> {{ dashboard.contaCredito.saldo | currency:'BRL' }} </h1>
                    <h1 *ngIf="!showValues" class="credito-saldo"> R$ - </h1>
                    <div class="row pt-4 justify-content-around">
                        <p class="pt-2"> Limite disponível </p>
                        <h1 *ngIf="showValues" class="transacoes"> {{ countBankValue(dashboard.contaCredito) | currency:'BRL' }} </h1>
                        <h1 *ngIf="!showValues" class="transacoes"> R$ - </h1>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-group">
            <div class="card transacoes-card m-2 rounded-lg">
                <div *ngIf="this.dashboard.contaCredito.lancamentos" class="card-body">
                    <p><img src="../../assets/dollar.png" alt="Últimos lançamentos" title="Últimos lançamentos"> Últimos lançamentos </p>
                    <div *ngIf="showValues" class="p-2 pl-3">
                        
                        <div class="d-flex mb-4" *ngFor="let lancamento of dashboard.contaBanco.lancamentos">
                            
                            <p><img src="../../assets/credit-card2.png" alt="Últimos lançamentos" title="Últimos lançamentos"> </p>
                            
                            <div class="lancamento">
                                <h6>{{ lancamento.descricao  }} </h6>
                                <p> {{ lancamento.conta  }} </p>
                                <h5> {{ lancamento.valor  | currency:'BRL' }} </h5>
                            </div>

                            <p class="ml-auto"> {{ lancamento.data | date:"'dia' dd 'de' MMM"}} </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
