<div class="container text-center p-5">


    <div *ngIf="isloading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="erroNoCarregamento">
        <h2> Deu erro! </h2>
        <button (click)="carregarExtrato()"> Tentar novamente </button>
    </div>

    <div *ngIf="!isloading && !erroNoCarregamento">
        <button class="btn btn-outline-info" (click)="paginaAnterior()" [disabled]="page === 1"> Página anterior </button>
        <p> Página atual: {{ page }}</p>
        <button class="btn btn-outline-info" (click)="proximaPagina()" [disabled]="page > 2"> Próxima página </button>

        <table class="table table-hover">
            <tr>
                <th> ID </th>
                <th> Data </th>
                <th> Descricao </th>
                <th> Valor </th>
                <th> Categoria </th>
            </tr>
            <tr *ngFor="let transacao of transacoes">
                <td>{{ transacao.id }}</td>
                <td>{{ transacao.data | date}}</td>
                <td>{{ transacao.descricao }}</td>
                <td>{{ transacao.valor | currency: 'BRL'}}</td>
                <td>{{ transacao.categoria }}</td>
            </tr>
        </table>
    </div>
</div>