<body class="pb-5">
  <div *ngIf="isError">
      <h2 class="card-text"> Deu erro :(</h2>
      <button class="btn btn-success mt-3" (click)="loadList()">Tentar Novamente</button>
  </div>
  <div class="text-center mt-5">
      <div *ngIf="isLoading && !isError" class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      Detalhes
    </div>
    <div class="card-body" *ngIf="!isLoading && !isError">
      <h5 class="card-title"> {{ country.country }} </h5>
        <p class="card-text" > Infectados: {{ country.infected | number:'1.0-0'}}</p>
        <p class="card-text" > Testados: {{ country.tested | number:'1.0-0' }}</p>
        <p class="card-text" > Recuperados: {{ country.recovered | number:'1.0-0'}}</p>
        <p class="card-text" > Fatalidades: {{ country.deceased | number:'1.0-0'}}</p>
        <p class="card-text" > </p>

        <button class="btn btn-secondary" (click)="onGoBack()"> Voltar </button>
    </div>
    <div class="card-footer text-muted">
        <p class="card-text" > Fonte: {{ country.sourceUrl }}</p>
        Atualização: {{ country.lastUpdatedApify | date: "dd/MM/yyyy"}}
    </div>
  </div>
</body>
