<header class="header">
    <h1 class="header__title p-2"> {{title}} </h1>
    <nav>
        <ul class="nav-bar-list">
            <li>
                <a routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <!-- <li>
                <a routerLink="extrato" routerLinkActive="active">Extrato</a>
            </li>
            <li>
                <a routerLink="contato" routerLinkActive="active">Contato</a>
            </li> -->
            <li>
                <a routerLink="login" routerLinkActive="active">Login</a>
            </li>
        </ul>
    </nav>
</header>