.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
<<<<<<< HEAD
button:hover {
  background-color: #61d095;
  color: black;
}
=======

/* .ng-invalid.ng-touched {
    border-color: red;
} */
>>>>>>> 9b92f9701c05f28fe5e8d2ecce23d924783b6a8c
