.login-card {
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    background-color: #FBFBFB;
    width: 455px;
    height: 422px;
}


.login-card-title {
    text-align: center;
}

.btn-continuar {
    width: 360px;
    height: 42px;
    border-radius: 20px;
    background-color: #68DE5A;
    color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
  }

  .login-input {
    width: 352.78px;
  }
