<body>
    <div class="p-5">
        <a href="./fake-bank-home.html">
            <img class="" src="../assets/logo-gama-academy-horizontal.png">
        </a>
    </div>

    <div class="card login-card mx-auto">
        
        <div class="card-body">
            <h5 class="card-title text-center">Faça seu login</h5>
            
            <form [formGroup]="loginForm" 
                class="form-group col-0 p-3" 
                method="POST">
                <input formControlName = "usuario" 
                    class="login-input m-1" 
                    placeholder="Digite seu usuário" 
                    type="text" 
                    name="user" 
                    required="">
                <input formControlName = "senha" 
                    class="login-input m-1" 
                    placeholder="Digite sua senha" 
                    type="password" name="password" 
                    required="">
                <div class="p-3">
                    <button (click)="onSubmit()"
                        class="btn-continuar" 
                        href="./fake-bank-home.html">
                        <p class="pl-3 m-0">Continuar</p>
                        <img class="float-right pr-3" src="">
                    </button>
                </div>

                <div>
                    <a class="m-3" (click)="onRecoveryPass()" href="/recovery-pass"> Esqueci minha senha > </a> <br>
                    <a class="p-3" (click)="onSignUp()" href=""> Ainda não sou cliente > </a>
                </div>
            </form>
        </div>
    </div>

</body>


