<body>
    <div class="logo-container">
      <a href="/home">
        <img src="../assets/logo-gama-academy-horizontal.png">
      </a>
    </div>
  
    <div class="recoverpass-container">
        <h5>Alterar senha</h5>
        <p>Confirme seu nome de usuário e insira sua nova senha.</p>
        <form [formGroup]="recoveryForm" 
          class="form-group" 
          method="POST"
        >
          <input 
            formControlName = "usuario" 
            class="input-cadastro" 
            placeholder="Insira seu nome de usuário" 
            type="text" 
            name="usuario" 
            required
          >
          <!-- <input 
            formControlName = "senha" 
            class="input-cadastro" 
            placeholder="Insira sua senha temporária" 
            type="text" 
            name="senha" 
            required
          > -->
          <input 
            formControlName = "senha" 
            class="input-cadastro" 
            placeholder="Insira sua nova senha" 
            type="text" 
            name="senha" 
            required
          >
          <!-- <input 
            formControlName = "senha" 
            class="input-cadastro"  
            placeholder="Digite sua nova senha" 
            type="password" 
            name="password" 
            required
          >
          <input 
          formControlName = "senha" 
          class="input-cadastro" 
          placeholder="Confirme sua nova senha" 
          type="password" 
          name="password" 
          required
        > -->
          <div>
            <button (click)="onSubmit()"
              class="btn-enviar" 
              href="/home"
            >
              Enviar
              <img class="pr-3" src="../../assets/arrow-login.svg">
            </button>
          </div>
        </form>
      </div>
  </body>
 