<div class="container text-center p-5">


    <div *ngIf="isloading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="erroNoCarregamento">
        <h2> Deu erro! </h2>
        <button (click)="carregarContatos()"> Tentar novamente </button>
    </div>

    <div *ngIf="!isloading && !erroNoCarregamento">
        <button class="btn btn-outline-info" (click)="paginaAnterior()" [disabled]="page === 1"> Página anterior </button>
        <p> Página atual: {{ page }}</p>
        <button class="btn btn-outline-info" (click)="proximaPagina()" [disabled]="page > 1"> Próxima página </button>

        <table class="table table-hover">
            <tr>
                <th> ID </th>
                <th> Nome </th>
                <th> CPF </th>
                <th> Banco </th>
                <th> Agência </th>
                <th> Conta Corrente </th>
            </tr>
            <tr *ngFor="let contato of contatos">
                <td>{{ contato.id }}</td>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.cpf }}</td>
                <td>{{ contato.banco }}</td>
                <td>{{ contato.ag }}</td>
                <td>{{ contato.cc }}</td>
            </tr>
        </table>
    </div>
</div>