/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

 COLOR PALETTE CSS HEX 
 https://coolors.co/8c52e5-1783e7-68de5a-000000-1d1d1d-787878-d8d8d8-ffffff-f9f9f9 

  
--medium-slate-blue: #8c52e5ff;
--bleu-de-france: #1783e7ff;
--malachite: #68de5aff;
--black: #000000ff;
--eerie-black: #1d1d1dff;
--sonic-silver: #787878ff;
--light-gray: #d8d8d8ff;
--white: #ffffffff;
--cultured: #f9f9f9ff;