<body>
    <div class="bg-roxo bg-roxo-photo">
        <div class="container">
            <div class="col-md-6">
                <p class="white-text">Gama Bank é um projeto de nossos alunos.
                    Já tem conta?</p>
                <div class="saiba-mais">
                    <a class="underline" href="./fake-bank-home.html">
                        <input class="request-card-button" type="button" name="submit" value="Acessar">
                        <img class="arrow-external-link" src="../../assets/Pix.png">
                    </a>
                </div>
            </div>
            <div class="request-card-box">
                <form method="POST">
                    <p>Peça sua conta e cartão de crédito do Fakebank</p>
                    <input class="cpf" placeholder="Digite seu CPF" type="text" name="txtCPF" id="cpf" required="" autofocus="1">
                    <input class="cpf" placeholder="Escolha um nome de usuário" type="text" name="txtCPF" id="cpf" required="" autofocus="1">
                    <input class="cpf" placeholder="Nome completo" type="text" name="txtCPF" id="cpf" required="" autofocus="1">
                    <input class="cpf" placeholder="Digite sua senha" type="text" name="txtCPF" id="cpf" required="" autofocus="1">
                    <input class="cpf" placeholder="Confirme sua senha" type="text" name="txtCPF" id="cpf" required="" autofocus="1">
                    <input class="request-card-button" type="button" name="submit" value="Continuar">
                </form>
            </div>
        </div>
    </div>
    
    <div class="bg-transparent">
        <div class="container">
            <div class="box1-blog">
                <p class="white-text">Um blog para você repensar o seu dinheiro</p>
            </div>
        </div>
    </div>
</body>