<body>
    <div class="logo-container">
      <a href="/home">
        <img src="../assets/logo-gama-academy-horizontal.png">
      </a>
    </div>

    <div class="login-container">
      <p>Fake Bank é um projeto de nossos alunos.</p>
      <p>Já tem conta?</p>
      <button 
        class="btn-acessar" 
        (click)="goToLogin()"
      >
        Acessar
        <img class="pr-3" src="../../assets/arrow-accesso.svg">
      </button>
    </div>

    <div class="register-container">
        <form [formGroup]="signInForm" 
          class="form-group col-0 p-3" 
          method="POST"
        >
          <p>Peça sua conta e cartão de crédito do Gama Bank</p>
          <input
            formControlName= "cpf" 
            class="input-cadastro" 
            placeholder="Digite seu CPF" 
            type="text" 
            required
          >
          <input 
            formControlName= "login"
            class="input-cadastro" 
            placeholder="Escolha um nome de usuário"
            type="text" 
            required
          >
          <input 
            formControlName= "nome" 
            class="input-cadastro"
            placeholder="Nome completo" 
            type="text" 
            required
          >
          <input 
            formControlName= "senha" 
            class="input-cadastro" 
            placeholder="Digite sua senha" 
            type="password" 
            name="password"
            required
          >
          <input 
            formControlName= "confirmacao"
            class="input-cadastro"
            placeholder="Confirme sua senha"
            type="password"
            name="password"
            required
          >
          <button 
            class="btn-continuar"
            (click)="onSubmit()"
          >
            Continuar
            <img class="pr-3" src="../../assets/arrow-accesso-grey.svg">
          </button>
        </form>
      </div>
</body>

<app-home2></app-home2> 
<app-home3></app-home3>
<app-home4></app-home4>
<app-home5></app-home5>
