@import "bootstrap";

body {
  width: 100vw;
  height: 100vh;

  font: 400 1rem "Roboto", sans-serif;

  background: #8c52e5;
  background-image: url(../../assets/home1-happy.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  background-position: center bottom 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-container {
  position: absolute;

  top: 52px;
  left: 63px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-container p {
  width: 281px;
  margin-left: 30px;

  font-size: 1.8125rem;
  color: rgba(255, 255, 255, 1);
}

.btn-acessar {
  width: 261px;
  height: 42px;

  margin-top: 25px;

  border-radius: 20px;
  border: none;

  background-color: #fff;
  color: #8c52e5;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 20px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px 0 20px;
}

// .btn-acessar:hover {
//   background-color: #68de5a;
//   transition: background-color 1000ms linear;
// }

// .btn-acessar[disabled] {
//   background-color: #68DE5A;
//   color: #9b9b9b;
// }

// button:hover {
//   background-color: #61d095;
//   color: black;
// }

.register-container {
  width: 349px;
  height: 461.23px;
  padding: 30px;

  background: #fff;
  border-radius: 8px;

  font-size: 12px;
  line-height: 14, 06px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container p {
  color: rgba(29, 29, 29, 1);
  font-size: 1.1875rem;
  font-weight: 500;

  padding-bottom: 20px;
}

.input-cadastro {
  background-color: transparent;
  border-width: 0px 0px 1px;
  box-sizing: border-box;
  color: rgb(235, 22, 22);
  margin-bottom: 30px;
  text-align: left;
  outline: none;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: #878686;
  white-space: nowrap;
  overflow: hidden;

  font-size: 0.75rem;
  padding-bottom: 6px;
}

.btn-continuar {
  width: 261px;
  height: 42px;

  border-radius: 20px;
  border: none;
  
  background-color:#d8d8d8;
  color: rgba(155, 155, 155, 1);
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 20px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px 0 20px;
}

// .btn-continuar:hover {
//   background-color: #68de5a;
//   transition: background-color 1000ms linear;
// }

// .btn-continuar[disabled] {
//   background-color: #D8D8D8;
//   color: #9B9B9B;
// }

@media screen and (max-width: 970px) {
  .bg-happy {
    background-size: auto;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .container {
    width: 100%;
    display: flex;
  }
  .txt-home {
    top: 0;
    left: 0;
    padding: 0;
  }
  .request-card-box {
    margin: 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
  }
  .bg-happy {
    background-size: contain;
  }
  .request-card-box {
    position: relative;
    top: 250px;
  }

  .txt-home {
    top: 0;
    left: 0;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .request-card-box {
    position: relative;
    top: 250px;
  }
}