body {
  background-color: #ffffff;
  margin: 0 auto;
  font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header {
  background-color: #8c52e5ff;
}
.container {
  width: 100%;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}
.bg-roxo {
  background-color: #8c52e5ff;
  height: 900px;
  width: 100%;
}
.bg-roxo-photo {
  background-image: url(../../assets/home1-happy.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: left;
  display: flex;
  text-size-adjust: 100%;
  align-self: stretch;
}
.white-text {
  font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 48px;
  color: rgb(255, 255, 255);
  font-weight: 560;
  letter-spacing: -0.03em;
  line-height: 1.16;
}
.request-card-box {
  background-color: #fff;
  border-radius: 15px;
  width: 60%;
  height: 550px;
  float: left;
  box-sizing: border-box;
  margin: 15% 5% 15% 5%;
  padding: 2%;
  vertical-align: middle;
}
.request-card-box p {
  color: rgb(17, 17, 17);
  font-size: 24px;
  font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px 0px 32px;
  font-weight: 500;
  letter-spacing: -0.03em;
}
.cpf {
  background-color: transparent;
  border-width: 0px 0px 1px;
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  display: block;
  margin-bottom: 30px;
  padding: 8px 0px;
  text-align: left;
  outline: none;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: rgba(17, 17, 17, 0.2);
  white-space: nowrap;
  overflow: hidden;
}
.request-card-button {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  background: rgb(138, 5, 190);
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: left;
  height: 45px;
  display: block;
  width: 100%;
  cursor: pointer;
  outline: 0px;
  position: relative;
  border: 0px;
}

.bg-transparent {
  background-color: #68de5aff;
  background-image: url(../../assets/home4-bg-transparent.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 0;
  justify-content: left;
  display: flex;
  text-size-adjust: 100%;
  align-self: stretch;
  margin: 0;
  height: 500px;
}
