@import "bootstrap";

body {
  width: 100vw;
  height: 100vh;

  font: 400 1rem "Roboto", sans-serif;

  background: #8c52e5;
  background-image: url(../../assets/home1-happy.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  background-position: center bottom 0;
}

.access-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button:hover {
  background-color: #61d095;
  color: black;
}

.btn-acessar {
  width: 261px;
  height: 42px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #8c52e5;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.btn-acessar:hover {
  background-color: #68de5a;
  transition: background-color 1000ms linear;
}

.btn-acessar[disabled] {
  background-color: #68DE5A;
  color: #9b9b9b;
}

.btn-continuar {
  width: 261px;
  height: 42px;
  border-radius: 20px;
  background-color:#68DE5A;
  color: #8c52e5;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.btn-continuar:hover {
  background-color: #68de5a;
  transition: background-color 1000ms linear;
}

.btn-continuar[disabled] {
  background-color: #D8D8D8;
  color: #9B9B9B;
}

.request-card-box {
  background-color: #fff;
  font-size: 12px;
  line-height: 14, 06px;
  border-radius: 8px;
  width: 349px;
  height: 461.23px;
  box-sizing: border-box;
  padding: 20px;
  right: 200px;
}

.request-card-box p {
  color: #1d1d1d;
  font-size: 19px;
  font-weight: 500;
}

.input-cadastro {
  background-color: transparent;
  border-width: 0px 0px 1px;
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  margin-bottom: 30px;
  text-align: left;
  outline: none;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: rgba(17, 17, 17, 0.2);
  white-space: nowrap;
  overflow: hidden;
  font: 400 1rem "Roboto", sans-serif;
}

@media screen and (max-width: 970px) {
  .bg-happy {
    background-size: auto;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .container {
    width: 100%;
    display: flex;
  }
  .txt-home {
    top: 0;
    left: 0;
    padding: 0;
  }
  .request-card-box {
    margin: 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
  }
  .bg-happy {
    background-size: contain;
  }
  .request-card-box {
    position: relative;
    top: 250px;
  }

  .txt-home {
    top: 0;
    left: 0;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .request-card-box {
    position: relative;
    top: 250px;
  }
}