<body>
    <div class="card error-card mx-auto mt-5">
        <div class="p-5">
            <div class="text-center mb-4 error-card-text">
                <img class="mb-4" src="../../../assets/error-alert1.png" alt="" width="72" height="72">
                <h5 class="mb-3 mt-3"> Oops, algo deu errado! </h5>
                <h5>Confime seus dados e tente novamente! </h5>
            </div>

        </div>
        <div>
            <button 
                class="btn-voltar mx-auto"
                (click)="onGoHome()"
                > Voltar 
                <img class="pr-3" src="../../assets/arrow-left.png">
            </button>
        </div>
    </div>
</body>