<body cz-shortcut-listen="true">
    <div class="container flex-center">
        <form class="form-signin p-4">
        <div class="text-center mb-4">
            <img class="mb-4" src="https://www.flaticon.com/svg/vstatic/svg/2742/2742345.svg?token=exp=1613844663~hmac=659d49e5f88a622cdf23faf9288c0dd5" alt="" width="72" height="72">
            <h1 class="h5 mb-3 font-weight-normal"> Oops! Essa página não existe... </h1>
            <p></p>
        </div>
        
        <div class="checkbox mb-3 mt-1">
        </div>
        <button 
            class="btn btn-lg btn-primary btn-block"
            (click)="onGoHome()"
            > Ir para Home </button>
        </form>
    </div>
</body>