.btn-voltar {
    width: 261px;
    height: 42px;
    border-radius: 20px;
    background-color:#68DE5A;
    color: #fff;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
  }


.error-card {
    width: 455px;
    height: 422px;

    background-color: #FBFBFB;
    font-family: Roboto, sans-serif;
    border-radius: 8px;
}

.error-card-text {
    color: #8C52E5;
}


