body {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2.5rem 2rem;


  font: 400 1rem "Roboto", sans-serif;

  background: #EaEaEa;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

div {
  color: rgba(0, 0, 0, 1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h3 {
  width: 444px;
  margin-left: 170px;
  margin-bottom: 30px;

  font-size: 2.625rem;
}

p {
  margin-left: 170px;
  margin-bottom: 15px;

  font-size: 0.875rem;
}

@media (max-width: 720px) {
  h3 {
    width: 222px;
    font-size: 2rem;
  }

  p { 
    font-size: 1rem;
  }

  img {
    width: 300px;
  }
}