.home5 {
  margin: 0;
  font: 400 1rem "Roboto", sans-serif;
  background: #eaeaea;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.convite-txt {
  color: rgba(0, 0, 0, 1);
  max-width: 40em;
  padding-left: 9em;
}

.convite-txt h3 {
  margin-bottom: 15px;
  font-size: 2.625rem;
}

.convite-txt p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.convite-img {
  margin-right: 9em;
}

@media (max-width: 980px) {
  .home5 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .convite-txt {
    padding-left: 2em;
  }
  .convite-img {
    display: flex;
    justify-content: center;
  }
  img {
    padding: 0;
    margin-left: 6em;
  }
}

@media (max-width: 720px) {
  .home5 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .convite-txt {
    padding-left: 2em;
  }
  .convite-img {
    display: flex;
    justify-content: center;
  }
  img {
    padding: 0;
    margin-left: 6em;
  }
}

@media (max-width: 560px) {
  .home5 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .convite-txt {
    padding-left: 2em;
  }
  .convite-img {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  img {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .home5 {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .convite-txt {
    padding-left: 1em;
  }
  .convite-img {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  img {
    margin: 0;
    max-width: 100%;
  }
}
