.home4 {
  height: 100vh;
  width: 100%;
  margin: 0;
  font: 400 1rem "Roboto", sans-serif;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(104, 222, 90, 1);
  background-image: url("../../../../assets/home4-bg-transparent.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

h3 {
  font-size: 2.625rem;

  margin-bottom: 36px;
  margin-left: 170px;
}

p {
  width: 19em;
  font-size: 1.4375rem;

  margin-left: 170px;
}

@media (max-width: 720px) {
  h3 {
    font-size: 2rem;
  }

  p {
    width: 229px;
    font-size: 1rem;
  }
}

//=======================================================================

@media (max-width: 750px) {
  .home4 {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
  }
  .home4-txt {
    margin: 0;
    padding: 2em;
    width: 100%;
  }
  h3 {
    width: 100%;
    margin: 0;
  }
  p {
    width: 20em;
    margin: 0;
  }
}

@media (max-width: 420px) {
  .home4 {
    margin: 0;
    padding: 2px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 30vh;
  }
  .home4-txt {
    margin: 0;
    padding: 2px;
  }
  h3 {
    width: 100%;
    margin-left: 2px;
  }
  p {
    width: 100%;
    margin-left: 2px;
  }
}
